@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wdth,wght@100..125,100..700&display=swap');

:root {
  --color-primary: #FFFFFF;     
  --color-secondary: #22c55e;  
  --color-tertiary: #90eeb3; 
  --color-accent: #AAAAAA;      
  --color-background: #121212;  

  --color-header: #FFFFFF;     
  --color-body: #AAAAAA;   
  --color-highlight: #22c55e;    
  --color-hover: #90eeb3;
}

/** Utility classes for colors */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-accent { background-color: var(--color-accent); }
.bg-custom { background-color: var(--color-background); }

.text-header { color: var(--color-header); }
.text-body { color: var(--color-body); }
.text-highlight { color: var(--color-highlight) }
.text-hover { color: var(--color-hover); } 

/* Font families */
.m-plus-code-latin {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Animations */
@keyframes fade-in-website {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: var(--font-mplus-code-latin);
  cursor: url('./images/cursor.svg'), auto;
  background-color: var(--color-background);
}

.welcome-text {
  font-family: 'Doto', sans-serif;
}

.fade-in-website {
  animation: fade-in-website 0.5s ease-in-out forwards;
}

.name {
    font-family: 'Doto', sans-serif;
    font-variation-settings: "ROND" 0;
    font-size: 1.5rem;
}

.name:hover {
    scale: 1.05;
}

.contact-button:hover {
    color: var(--color-highlight);
    border: 1px dashed var(--color-secondary);
}

.arrow-down {
  color: #FFFFFF;
  margin-top: 10px;
}

.timeline-item:hover {
  color: var(--color-tertiary);
  scale: 1.05;
}

.contact-email:hover {
  color: var(--color-hover);
}

.download-cv {
  color: var(--color-highlight);
  border: 1px dashed var(--color-secondary);
}