@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Code+Latin:wdth,wght@100..125,100..700&display=swap');

:root {
  --color-primary: #FFFFFF;     
  --color-secondary: #22c55e;  
  --color-tertiary: #90eeb3; 
  --color-accent: #AAAAAA;      
  --color-background: #121212;  

  --color-header: #FFFFFF;     
  --color-body: #AAAAAA;   
  --color-highlight: #22c55e;    
}

/** Utility classes for colors */
.bg-primary { background-color: var(--color-primary); }
.bg-secondary { background-color: var(--color-secondary); }
.bg-tertiary { background-color: var(--color-tertiary); }
.bg-accent { background-color: var(--color-accent); }
.bg-custom { background-color: var(--color-background); }

.text-header { color: var(--color-header); }
.text-body { color: var(--color-body); }
.text-highlight { color: var(--color-highlight); } 

/* Font families */
.m-plus-code-latin {
  font-family: "M PLUS Code Latin", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Animations */
@keyframes welcome-fanout {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.5);
    opacity: 1;
  }
}

@keyframes fade-in-website {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: var(--font-mplus-code-latin);
}

.welcome-text {
  animation: welcome-fanout 2s ease-in-out forwards;
  font-family: 'Doto', sans-serif;
}

.fade-in-website {
  animation: fade-in-website 0.5s ease-in-out forwards;
}

.arrow-down {
  color: #FFFFFF;
  margin-top: 10px;
}

.timeline-item:hover {
  color: var(--color-tertiary);
  scale: 1.05;
}